Simple Web Scraping Example
===
Just a simple web scraping example using Python modules `requests`, `BeautifulSoup`, `lxml`, and `pandas`.

We want to get data from the following web page, which contains a list of countries ordered by number of Internet users:<br>
http://www.nationmaster.com/country-info/stats/Media/Internet-users<br>

1) Start by importing the tools necessary for downloading and parsing web pages.<br>
We may need to do first make sure the tools are installed by running this on the command line:<br>
``pip install pandas requests bs4 lxr``

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup


2) Download the entire web page into memory using `requests.get()`.<br>
If the request is successful, we now have the content of the web page in memory in `res.content`.

In [2]:
res = requests.get("http://www.nationmaster.com/country-info/stats/Media/Internet-users")

3) Parse the entire web page using `BeautifulSoup` and `lxr`.<br>
If the parsing is successful, we can now access the tree structure of the web page via the `BeautifulSoup` `soup` object.

In [3]:
soup = BeautifulSoup(res.content,'lxml')

4) Get the table containing the data we are interested in, as a `BeautifulSoup` `Tag` object.<br>
It's the first table on the page.

In [4]:
table = soup.find_all('table')[0]

5) Convert the HTML code of the table into a `pandas` `DataFrame`.<br>
`pd.read_html()` returns an array of dataframes, and we want the first one.

In [5]:
df = pd.read_html(str(table))[0]
df

,#,COUNTRY,AMOUNT,DATE,GRAPH,HISTORY
0,1,China,389 million,2009,NaN,NaN
1,2,United States,245 million,2009,NaN,NaN
2,3,Japan,99.18 million,2009,NaN,NaN
3,NaN,Group of 7 countries (G7) average (profile),80.32 million,2009,NaN,NaN
4,4,Brazil,75.98 million,2009,NaN,NaN
5,5,Germany,65.12 million,2010,NaN,NaN
6,6,India,61.34 million,2009,NaN,NaN
7,7,Russia,59.7 million,2010,NaN,NaN
8,NaN,Non-religious countries average (profile),51.56 million,2009,NaN,NaN
9,8,United Kingdom,51.44 million,2009,NaN,NaN
10,9,France,44.63 million,2010,NaN,NaN
11,10,Nigeria,43.99 million,2009,NaN,NaN
12,11,South Korea,39.4 million,2009,NaN,NaN
13,12,Turkey,35 million,2010,NaN,NaN
14,NaN,Emerging markets average (profile),32.99 million,2009,NaN,NaN
15,13,Mexico,31.02 million,2009,NaN,NaN
16,14,Italy,30.03 million,2010,NaN,NaN
17,15,Spain,29.09 million,2010,NaN,NaN
18,16,Canada,26.96 million,2009,NaN,NaN
19,NaN,East Asia and Pacific average (profile),25.43 million,2009,NaN,NaN
20,NaN,High income OECD countries average (profile),24.75 million,2009,NaN,NaN
21,NaN,Cold countries average (profile),23.69 million,2009,NaN,NaN
22,17,Vietnam,23.38 million,2009,NaN,NaN
23,18,Colombia,22.54 million,2009,NaN,NaN
24,19,Poland,22.45 million,2010,NaN,NaN
25,20,Pakistan,20.43 million,2009,NaN,NaN
26,21,Egypt,20.14 million,2009,NaN,NaN
27,22,Indonesia,20 million,2009,NaN,NaN
28,NaN,Heavily indebted countries average (profile),17.81 million,2009,NaN,NaN
29,23,Thailand,17.48 million,2009,NaN,NaN
...,...,...,...,...,...,...
219,=189,Monaco,23000,2010,NaN,NaN
220,=189,Liechtenstein,23000,2010,NaN,NaN
221,=189,Cayman Islands,23000,2008,NaN,NaN
222,192,Central African Republic,22600,2009,NaN,NaN
223,193,Gibraltar,20200,2009,NaN,NaN
224,194,Liberia,20000,2009,NaN,NaN
225,=195,Vanuatu,17000,2009,NaN,NaN
226,=195,San Marino,17000,2010,NaN,NaN
227,=195,Federated States of Micronesia,17000,2009,NaN,NaN
228,=195,Saint Kitts and Nevis,17000,2009,NaN,NaN
229,199,Sierra Leone,14900,2009,NaN,NaN
230,200,Equatorial Guinea,14400,2009,NaN,NaN
231,201,Solomon Islands,10000,2009,NaN,NaN
232,202,Samoa,9000,2009,NaN,NaN
233,203,Tonga,8400,2009,NaN,NaN
234,204,Kiribati,7800,2009,NaN,NaN
235,205,Cook Islands,6000,2009,NaN,NaN
236,206,Tuvalu,4200,2008,NaN,NaN
237,207,British Virgin Islands,4000,2002,NaN,NaN
238,208,Anguilla,3700,2009,NaN,NaN
239,209,Falkland Islands (Islas Malvinas),2900,2009,NaN,NaN
240,210,Marshall Islands,2200,2009,NaN,NaN
241,211,East Timor,2100,2009,NaN,NaN
242,212,Wallis and Futuna,1300,2009,NaN,NaN
243,213,Montserrat,1200,2009,NaN,NaN
244,214,Niue,1100,2009,NaN,NaN
245,=215,"Saint Helena, Ascension, and Tristan da Cunha",900,2009,NaN,NaN
246,=215,Saint Helena,900,2009,NaN,NaN
247,217,Tokelau,800,2008,NaN,NaN
248,218,Christmas Island,464,2001,NaN,NaN

6) The dataframe is easily converted to other formats, like JSON or, in this case, CSV.

In [6]:
print(df.to_csv())

,#,COUNTRY,AMOUNT,DATE,GRAPH,HISTORY
0,1,China,389 million,2009,,
1,2,United States,245 million,2009,,
2,3,Japan,99.18 million,2009,,
3,,Group of 7 countries (G7) average (profile),80.32 million,2009,,
4,4,Brazil,75.98 million,2009,,
5,5,Germany,65.12 million,2010,,
6,6,India,61.34 million,2009,,
7,7,Russia,59.7 million,2010,,
8,,Non-religious countries average (profile),51.56 million,2009,,
9,8,United Kingdom,51.44 million,2009,,
10,9,France,44.63 million,2010,,
11,10,Nigeria,43.99 million,2009,,
12,11,South Korea,39.4 million,2009,,
13,12,Turkey,35 million,2010,,
14,,Emerging markets average (profile),32.99 million,2009,,
15,13,Mexico,31.02 million,2009,,
16,14,Italy,30.03 million,2010,,
17,15,Spain,29.09 million,2010,,
18,16,Canada,26.96 million,2009,,
19,,East Asia and Pacific average (profile),25.43 million,2009,,
20,,High income OECD countries average (profile),24.75 million,2009,,
21,,Cold countries average (profile),23.69 million,2009,,
22,17,Vietnam,23.38 million,2009,,
23,18,Colombia,22.54 million,2009,,
24,19,Poland,22.45 million,2010,,
25,20,Pakistan,20.43 million,2009,,
26,21,Egypt,20.14 million,2009,,
27,22,Indonesia,20 million,2009,,
28,,Heavily indebted countries average (profile),17.81 million,2009,,
29,23,Thailand,17.48 million,2009,,
30,,South Asia average (profile),16.69 million,2009,,
31,24,Taiwan,16.15 million,2009,,
32,25,Australia,15.81 million,2009,,
33,26,Malaysia,15.36 million,2009,,
34,27,Ukraine,15.3 million,2010,,
35,28,Netherlands,14.87 million,2010,,
36,29,Argentina,13.69 million,2009,,
37,,Religious countries average (profile),13.59 million,2009,,
38,30,Morocco,13.21 million,2009,,
39,,Eurozone average (profile),12.48 million,2010,,
40,,NATO countries average (profile),12.27 million,2010,,
41,,European Union average (profile),10.69 million,2010,,
42,,Former British colonies average (profile),10.17 million,2009,,
43,31,Saudi Arabia,9.77 million,2009,,
44,,Europe average (profile),9.61 million,2010,,
45,,Catholic countries average (profile),9.37 million,2009,,
46,32,Peru,9.16 million,2009,,
47,33,Venezuela,8.92 million,2009,,
48,,Eastern Europe average (profile),8.4 million,2010,,
49,34,Sweden,8.4 million,2010,,
50,35,Philippines,8.28 million,2009,,
51,,Christian countries average (profile),8.26 million,2009,,
52,36,Iran,8.21 million,2009,,
53,37,Belgium,8.11 million,2010,,
54,38,Romania,7.79 million,2010,,
55,,South and Central Asia average (profile),7.6 million,2009,,
56,,OPEC countries average (profile),7.45 million,2009,,
57,39,Chile,7.01 million,2009,,
58,40,Czech Republic,6.68 million,2010,,
59,41,Hungary,6.18 million,2010,,
60,42,Austria,6.14 million,2010,,
61,,Former Spanish colonies average (profile),6.14 million,2009,,
62,43,Switzerland,5.74 million,2010,,
63,,Latin America and Caribbean average (profile),5.71 million,2009,,
64,,failed states average (profile),5.53 million,2009,,
65,44,Kazakhstan,5.3 million,2010,,
66,45,Portugal,5.17 million,2010,,
67,,Potential Future EU Members average (profile),5.1 million,2009,,
68,,Muslim countries average (profile),5.01 million,2009,,
69,46,Greece,4.97 million,2010,,
70,,Former Soviet republics average (profile),4.93 million,2009,,
71,47,Hong Kong,4.87 million,2009,,
72,48,Denmark,4.75 million,2010,,
73,49,Algeria,4.7 million,2009,,
74,50,Uzbekistan,4.69 million,2009,,
75,,Hot countries average (profile),4.66 million,2009,,
76,51,Israel,4.53 million,2009,,
77,,Middle Eastern and North Africa average (profile),4.51 million,2009,,
78,52,Finland,4.48 million,2010,,
79,53,Syria,4.47 million,2009,,
80,54,Belarus,4.44 million,2010,,
81,55,Norway,4.43 million,2010,,
82,56,South Africa,4.42 million,2009,,
83,57,Sudan,4.2 million,2008,,
84,58,Serbia,4.11 million,2009,,
85,59,Slovakia,4.06 million,2010,,
86,60,Kenya,4 million,2009,,
87,61,Azerbaijan,3.69 million,2010,,
88,62,Tunisia,3.5 million,2009,,
89,63,United Arab Emirates,3.45 million,2009,,
90,,Tourist destinations average (profile),3.42 million,2009,,
91,64,New Zealand,3.4 million,2009,,
92,65,Bulgaria,3.4 million,2010,,
93,66,Ecuador,3.35 million,2009,,
94,67,Singapore,3.23 million,2009,,
95,68,Uganda,3.2 million,2009,,
96,69,Ireland,3.04 million,2010,,
97,70,Dominican Republic,2.7 million,2009,,
98,71,Yemen,2.35 million,2009,,
99,,Former French colonies average (profile),2.31 million,2009,,
100,72,Guatemala,2.28 million,2009,,
101,73,Croatia,2.24 million,2010,,
102,74,Kyrgyzstan,2.19 million,2009,,
103,75,Lithuania,2.1 million,2010,,
104,76,Senegal,1.82 million,2009,,
105,77,Sri Lanka,1.78 million,2009,,
106,,Landlocked countries average (profile),1.64 million,2009,,
107,78,Jordan,1.64 million,2009,,
108,,Sub-Saharan Africa average (profile),1.62 million,2009,,
109,79,Cuba,1.61 million,2013,,
110,80,Jamaica,1.58 million,2009,,
111,81,Latvia,1.5 million,2010,,
112,82,Costa Rica,1.49 million,2009,,
113,83,Oman,1.47 million,2009,,
114,84,Bosnia and Herzegovina,1.44 million,2010,,
115,85,Zimbabwe,1.42 million,2009,,
116,86,Uruguay,1.41 million,2009,,
117,=87,Gaza Strip,1.38 million,2009,,
118,=87,West Bank,1.38 million,2009,,
119,=89,Georgia,1.3 million,2010,,
120,=89,Albania,1.3 million,2010,,
121,91,Slovenia,1.3 million,2010,,
122,92,Ghana,1.3 million,2009,,
123,93,Moldova,1.29 million,2010,,
124,94,Paraguay,1.1 million,2009,,
125,95,Bolivia,1.1 million,2009,,
126,96,Kuwait,1.1 million,2009,,
127,97,Republic of Macedonia,1.06 million,2009,,
128,=98,Afghanistan,1000000,2009,,
129,=98,Lebanon,1000000,2009,,
130,=98,Puerto Rico,1000000,2009,,
131,=98,Haiti,1000000,2009,,
132,102,Estonia,969700,2010,,
133,103,Cote d'Ivoire,967300,2009,,
134,104,Panama,959800,2009,,
135,105,Zambia,816200,2009,,
136,106,Cameroon,749600,2009,,
137,107,El Salvador,746000,2009,,
138,108,Honduras,731700,2009,,
139,109,Malawi,716400,2009,,
140,110,Tajikistan,700000,2009,,
141,111,Tanzania,678000,2009,,
142,112,Bangladesh,617300,2009,,
143,113,Mozambique,613600,2009,,
144,114,Angola,606700,2009,,
145,115,Trinidad and Tobago,593000,2009,,
146,116,Nepal,577800,2009,,
147,117,Qatar,563800,2009,,
148,118,Rwanda,450000,2009,,
149,119,Ethiopia,447300,2009,,
150,120,Cyprus,433800,2010,,
151,121,Luxembourg,424500,2010,,
152,122,Bahrain,419500,2009,,
153,123,Togo,356300,2009,,
154,124,Libya,353900,2009,,
155,125,Mongolia,330000,2008,,
156,126,Iraq,325900,2009,,
157,127,Madagascar,319900,2009,,
158,128,Brunei,314900,2009,,
159,129,Iceland,301600,2010,,
160,130,Laos,300000,2009,,
161,=131,Mauritius,290000,2009,,
162,=131,Democratic Republic of the Congo,290000,2008,,
163,133,Montenegro,280000,2009,,
164,134,Macau,270200,2009,,
165,135,Mali,249800,2009,,
166,136,"Congo, Republic of the",245200,2009,,
167,137,Malta,240600,2010,,
168,138,Armenia,208200,2010,,
169,139,Benin,200100,2009,,
170,140,Eritrea,200000,2008,,
171,141,Nicaragua,199800,2009,,
172,142,Guyana,189600,2009,,
173,143,Barbados,188000,2008,,
174,144,Burkina Faso,178100,2009,,
175,145,Chad,168100,2009,,
176,146,Suriname,163000,2009,,
177,147,Burundi,157800,2009,,
178,148,Cape Verde,150000,2009,,
179,149,Saint Lucia,142900,2009,,
180,150,The Gambia,130100,2009,,
181,151,Namibia,127500,2009,,
182,152,Papua New Guinea,125000,2009,,
183,=153,Botswana,120000,2009,,
184,=153,French Polynesia,120000,2009,,
185,155,Niger,115900,2009,,
186,156,The Bahamas,115800,2009,,
187,157,Fiji,114200,2009,,
188,158,Burma,110000,2009,,
189,159,Somalia,106000,2009,,
190,160,Gabon,98800,2009,,
191,161,Guinea,95000,2009,,
192,162,Swaziland,90100,2009,,
193,163,Guam,90000,2009,,
194,164,Maldives,86400,2009,,
195,165,New Caledonia,85000,2009,,
196,166,Turkmenistan,80400,2009,,
197,167,Cambodia,78500,2009,,
198,168,Lesotho,76800,2009,,
199,169,Saint Vincent and the Grenadines,76000,2009,,
200,170,Mauritania,75000,2009,,
201,171,Andorra,67200,2010,,
202,172,Antigua and Barbuda,65000,2009,,
203,173,Bermuda,54000,2009,,
204,174,Bhutan,50000,2009,,
205,175,Guernsey,48300,2009,,
206,176,Faroe Islands,37500,2009,,
207,177,Guinea-Bissau,37100,2009,,
208,=178,Belize,36000,2009,,
209,=178,Greenland,36000,2009,,
210,180,Seychelles,32000,2008,,
211,181,Virgin Islands,30000,2009,,
212,182,Jersey,29500,2009,,
213,183,Dominica,28000,2009,,
214,184,Sao Tome and Principe,26700,2009,,
215,185,Djibouti,25900,2009,,
216,186,Grenada,25000,2009,,
217,187,Comoros,24300,2009,,
218,188,Aruba,24000,2009,,
219,=189,Monaco,23000,2010,,
220,=189,Liechtenstein,23000,2010,,
221,=189,Cayman Islands,23000,2008,,
222,192,Central African Republic,22600,2009,,
223,193,Gibraltar,20200,2009,,
224,194,Liberia,20000,2009,,
225,=195,Vanuatu,17000,2009,,
226,=195,San Marino,17000,2010,,
227,=195,Federated States of Micronesia,17000,2009,,
228,=195,Saint Kitts and Nevis,17000,2009,,
229,199,Sierra Leone,14900,2009,,
230,200,Equatorial Guinea,14400,2009,,
231,201,Solomon Islands,10000,2009,,
232,202,Samoa,9000,2009,,
233,203,Tonga,8400,2009,,
234,204,Kiribati,7800,2009,,
235,205,Cook Islands,6000,2009,,
236,206,Tuvalu,4200,2008,,
237,207,British Virgin Islands,4000,2002,,
238,208,Anguilla,3700,2009,,
239,209,Falkland Islands (Islas Malvinas),2900,2009,,
240,210,Marshall Islands,2200,2009,,
241,211,East Timor,2100,2009,,
242,212,Wallis and Futuna,1300,2009,,
243,213,Montserrat,1200,2009,,
244,214,Niue,1100,2009,,
245,=215,"Saint Helena, Ascension, and Tristan da Cunha",900,2009,,
246,=215,Saint Helena,900,2009,,
247,217,Tokelau,800,2008,,
248,218,Christmas Island,464,2001,,